{% extends 'base_simple.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-white mb-4 shadow-sm">
    <div class="container tm-container-small">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.svg" alt="EasyShop" style="height:32px;">
        </a>
    </div>
</nav>

<div class="container tm-container-small tm-mt-60 tm-mb-74">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4" style="color:#111;">Вход</h1>
            <div class="tm-bg-gray p-5 rounded shadow-sm">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form method="post">
                    <div class="form-group mb-4">
                        <label for="inputEmail" class="mb-2 fw-bold">E-mail</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control mb-2" required autofocus>
                    </div>
                    <div class="form-group mb-4">
                        <label for="inputPassword" class="mb-2 fw-bold">Пароль</label>
                        <input type="password" name="_password" id="inputPassword" class="form-control mb-2" required>
                    </div>
                    <div class="form-group mb-4 form-check">
                        <input type="checkbox" name="_remember_me" class="form-check-input" id="remember_me">
                        <label class="form-check-label" for="remember_me">Запомнить меня</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-block tm-btn-big" type="submit">Войти</button>
                    </div>
{#                    <div class="text-center mt-3">#}
{#                        <a href="{{ path('app_register') }}" class="tm-text-primary">#}
{#                            Зарегистрироваться#}
{#                        </a>#}
{#                    </div>#}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}